---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import ProcessSection from '../components/ProcessSection.astro';
import AboutSection from '../components/AboutSection.astro';
import PricingSection from '../components/PricingSection.astro';
import CredentialsSection from '../components/CredentialsSection.astro';
import FaqCtaSection from '../components/FaqCtaSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import DisplaySection from '../components/DisplaySection.astro';
import SocialGrid from '../components/SocialGrid.astro';
import Footer from '../components/Footer.astro';
---
<BaseLayout>
  <Header />
  <main>
    <HeroSection />
    <ProcessSection />
    <AboutSection />
    <PricingSection />
    <CredentialsSection />
    <FaqCtaSection />
    <TestimonialsSection />
    <DisplaySection />
    <SocialGrid />
  </main>
  <Footer />
</BaseLayout>
