---
import { Image } from 'astro:assets';
import junebug from '../assets/images/badges/junebug-weddings.png';
import rockyMountain from '../assets/images/badges/rocky-mountain-bride.png';
import rockNRoll from '../assets/images/badges/rock-n-roll-bride.png';
---
<section class="bg-black py-16 md:py-24 px-6">
  <div class="flex flex-wrap items-center justify-center gap-8 md:gap-16 max-w-4xl mx-auto">
    <Image
      src={junebug}
      alt="Junebug Weddings Vendor 2026"
      width={180}
      height={180}
      class="w-28 md:w-44 h-auto object-contain"
    />
    <Image
      src={rockyMountain}
      alt="Featured on Rocky Mountain Bride"
      width={180}
      height={180}
      class="w-28 md:w-44 h-auto object-contain"
    />
    <Image
      src={rockNRoll}
      alt="Rock n Roll Bride featured vendor 2025 badge"
      width={180}
      height={180}
      class="w-28 md:w-44 h-auto object-contain"
    />
  </div>
</section>
