---
import { Image } from 'astro:assets';
import junebug from '../assets/images/badges/junebug-weddings.png';
import rockyMountain from '../assets/images/badges/rocky-mountain-bride.png';
import rockNRoll from '../assets/images/badges/rock-n-roll-bride.png';
---
<section class="bg-[#1a1a1a] py-16 md:py-24 px-6">
  <div class="flex flex-wrap items-center justify-center gap-12 md:gap-16 max-w-5xl mx-auto">
    <Image
      src={rockNRoll}
      alt="Rock n Roll Bride featured vendor 2025 badge"
      width={200}
      height={200}
      class="w-32 md:w-48 h-auto object-contain"
    />
    <Image
      src={rockyMountain}
      alt="Featured on Rocky Mountain Bride"
      width={200}
      height={200}
      class="w-32 md:w-48 h-auto object-contain"
    />
    <Image
      src={junebug}
      alt="Junebug Weddings Vendor 2026"
      width={400}
      height={146}
      class="w-48 md:w-72 h-auto object-contain"
    />
  </div>
</section>
